.navbar {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

header {
  background: rgba(0,0,0);
  width: 100%;
  position: fixed;
  z-index: 10;
}
  
nav {
  float: right; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: rgb(133, 29, 29);
}

nav ul li a:hover {
  font-size: 25px;
}